body{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    background-color: lightcoral;
}

.heart{
    color: #ff4033;
    font-size: 5rem;
    animation: heartbeat 0.5s infinite alternate;
    transform-origin: center;
}

@keyframes heartbeat{
    to{
        transform: scale(1.5);
    }
}